AvaliaTrabs/avaliaTrab.sh
AvaliaTrabs/MEPA
AvaliaTrabs/MEPA-Res
AvaliaTrabs/pgma.pas
AvaliaTrabs/res
AvaliaTrabs/saida
AvaliaTrabs/Exemplo5/#pgma.pas#
AvaliaTrabs/Exemplo5/MEPA
AvaliaTrabs/Exemplo5/mepa
AvaliaTrabs/Exemplo5/mepa.o
AvaliaTrabs/Exemplo5/mepa.s
AvaliaTrabs/Exemplo5/pgma.pas
AvaliaTrabs/Exemplo6/pgma.pas
AvaliaTrabs/Exemplo6/pgma.pas~
AvaliaTrabs/Exemplo7.1/MEPA
AvaliaTrabs/Exemplo7.1/mepa
AvaliaTrabs/Exemplo7.1/mepa.o
AvaliaTrabs/Exemplo7.1/mepa.s
AvaliaTrabs/Exemplo7.1/pgma.pas
AvaliaTrabs/Exemplo7.1/result-5-8
AvaliaTrabs/Exemplo7.2/MEPA
AvaliaTrabs/Exemplo7.2/mepa
AvaliaTrabs/Exemplo7.2/mepa.o
AvaliaTrabs/Exemplo7.2/mepa.s
AvaliaTrabs/Exemplo7.2/pgma.pas
AvaliaTrabs/Exemplo7.2/pgma.pas~
AvaliaTrabs/Exemplo7.2/result-n-3
AvaliaTrabs/Exemplo7.3/MEPA
AvaliaTrabs/Exemplo7.3/mepa
AvaliaTrabs/Exemplo7.3/mepa.o
AvaliaTrabs/Exemplo7.3/mepa.s
AvaliaTrabs/Exemplo7.3/pgma.pas
AvaliaTrabs/Exemplo7.3/pgma.pas~
AvaliaTrabs/Exemplo7.3/result
AvaliaTrabs/Exemplo7.4/MEPA
AvaliaTrabs/Exemplo7.4/mepa
AvaliaTrabs/Exemplo7.4/mepa.o
AvaliaTrabs/Exemplo7.4/mepa.s
AvaliaTrabs/Exemplo7.4/pgma.pas
AvaliaTrabs/Exemplo7.4/pgma.pas~
AvaliaTrabs/Exemplo7.4/result
AvaliaTrabs/Exemplo7.5/impr.txt
AvaliaTrabs/Exemplo7.5/MEPA
AvaliaTrabs/Exemplo7.5/mepa
AvaliaTrabs/Exemplo7.5/mepa.o
AvaliaTrabs/Exemplo7.5/mepa.s
AvaliaTrabs/Exemplo7.5/pgma-origina.pas
AvaliaTrabs/Exemplo7.5/pgma.pas
AvaliaTrabs/Exemplo7.5/pgma.pas~
AvaliaTrabs/Exemplo8.10/impr.txt
AvaliaTrabs/Exemplo8.10/impr.txt~
AvaliaTrabs/Exemplo8.10/MEPA
AvaliaTrabs/Exemplo8.10/mepa
AvaliaTrabs/Exemplo8.10/mepa.o
AvaliaTrabs/Exemplo8.10/mepa.s
AvaliaTrabs/Exemplo8.10/pgma
AvaliaTrabs/Exemplo8.10/pgma.o
AvaliaTrabs/Exemplo8.10/pgma.pas
AvaliaTrabs/Exemplo8.10/pgma.pas~
AvaliaTrabs/Exemplo8.10/result
AvaliaTrabs/Exemplo8.12/MEPA
AvaliaTrabs/Exemplo8.12/MEPA~
AvaliaTrabs/Exemplo8.12/pgma.pas
AvaliaTrabs/Exemplo8.12/pgma.pas~
AvaliaTrabs/Exemplo8.5/MEPA
AvaliaTrabs/Exemplo8.5/mepa
AvaliaTrabs/Exemplo8.5/mepa.o
AvaliaTrabs/Exemplo8.5/mepa.s
AvaliaTrabs/Exemplo8.5/pgma
AvaliaTrabs/Exemplo8.5/pgma.o
AvaliaTrabs/Exemplo8.5/pgma.pas
AvaliaTrabs/Exemplo8.5/pgma.pas~
AvaliaTrabs/Exemplo8.6/MEPA
AvaliaTrabs/Exemplo8.6/mepa
AvaliaTrabs/Exemplo8.6/mepa.o
AvaliaTrabs/Exemplo8.6/mepa.s
AvaliaTrabs/Exemplo8.6/pgma.pas
AvaliaTrabs/Exemplo8.6/pgma.pas~
AvaliaTrabs/Exemplo8.7/MEPA
AvaliaTrabs/Exemplo8.7/mepa
AvaliaTrabs/Exemplo8.7/mepa.o
AvaliaTrabs/Exemplo8.7/MEPA.ps.bz2
AvaliaTrabs/Exemplo8.7/mepa.s
AvaliaTrabs/Exemplo8.7/pgma
AvaliaTrabs/Exemplo8.7/pgma.o
AvaliaTrabs/Exemplo8.7/pgma.pas
AvaliaTrabs/Exemplo8.7/pgma.pas~
AvaliaTrabs/Exemplo8.7/pgma.ps.bz2
AvaliaTrabs/Exemplo8.7/result
AvaliaTrabs/Exemplo8.8/MEPA
AvaliaTrabs/Exemplo8.8/mepa
AvaliaTrabs/Exemplo8.8/mepa.o
AvaliaTrabs/Exemplo8.8/MEPA.ps.bz2
AvaliaTrabs/Exemplo8.8/mepa.s
AvaliaTrabs/Exemplo8.8/pgma
AvaliaTrabs/Exemplo8.8/pgma.o
AvaliaTrabs/Exemplo8.8/pgma.pas
AvaliaTrabs/Exemplo8.8/pgma.pas~
AvaliaTrabs/Exemplo8.8/pgma.ps.bz2
AvaliaTrabs/Exemplo8.9/MEPA
AvaliaTrabs/Exemplo8.9/mepa
AvaliaTrabs/Exemplo8.9/mepa.o
AvaliaTrabs/Exemplo8.9/mepa.s
AvaliaTrabs/Exemplo8.9/pgma
AvaliaTrabs/Exemplo8.9/pgma.o
AvaliaTrabs/Exemplo8.9/pgma.pas
AvaliaTrabs/Exemplo8.9/pgma.pas~
AvaliaTrabs/ExemploErro1/MEPA
AvaliaTrabs/ExemploErro1/pgma.pas
AvaliaTrabs/ExemploErro1/pgma.pas~
AvaliaTrabs/ExemploErro2/MEPA
AvaliaTrabs/ExemploErro2/pgma.pas
AvaliaTrabs/ExemploErro2/pgma.pas~
AvaliaTrabs/ExprIfWhile/exemplo-7.1
AvaliaTrabs/ExprIfWhile/exemplo-7.1.o
AvaliaTrabs/ExprIfWhile/exemplo-7.1.pas
AvaliaTrabs/ExprIfWhile/exemplo-7.1.pas~
AvaliaTrabs/ExprIfWhile/exemplo5
AvaliaTrabs/ExprIfWhile/exemplo5.o
AvaliaTrabs/ExprIfWhile/exemplo5.pas
AvaliaTrabs/ExprIfWhile/exemplo5.pas~
AvaliaTrabs/ExprIfWhile/fp.cfg
AvaliaTrabs/ExprIfWhile/fp.dsk
AvaliaTrabs/ExprIfWhile/fp.ini
AvaliaTrabs/ExprIfWhile/result-7.1.txt
AvaliaTrabs/ExprIfWhile/result-exemplo5
